fastapi
uvicorn[standard]
PyYAML>=6.0
pydantic
python-multipart
httpx
python-dotenv
pymupdf
python-docx
motor
authlib
easyocr
pillow
beautifulsoup4
edge-tts
python-socketio
pydub
youtube_transcript_api
SpeechRecognition
